In excel, Pivot tables are a great way of summarizing information through aggregation functions. But if we want to aggregate information from multiple files, sheets or data sources (e.g., a Database) a Python script can be more suitable.

- Given: 
    - multiple excel files in one folder
    - or one excel with multiple sheets
    - or a combination of both
    - aggregation columns and functions
- goal: combine all of the excel files/workshetts in one pivot table with given
- if a folder is given, this will exhaustively concatenate and pivot all the sheets from all the files in the folder.


Source of example data:

https://drive.google.com/file/d/1a11pvERd-Z9oy5nGXDJK-bDwOMiDhRTc/view

In [9]:
import os
import pandas as pd
import numpy as np

def combine_pivot(file=None, folder=None, aggby=None, aggfunc=None):
    
    # concatenate all sheets in a given excel workbook.
    if file:
        # read in file
        excel_file = pd.ExcelFile(file)
        
        # get the sheet names
        sheet_names = excel_file.sheet_names
        sheets = []
        
        # read in each sheet name and append to a list
        for sheet_name in sheet_names:
            sheets.append(excel_file.parse(sheet_name))
        
        # concatenate the sheets (i.e. list items) found in the workbook
        dfs = pd.concat(sheets, axis=0)
          
    if folder:
        dfs = []
        file_names = os.listdir(folder)
        
        for file_name in file_names:
            
            # use the same function to concatenate all the sheets in the workbook.
            excel_file_concat = combine_pivot(file=folder + "\\"+ file_name)
            dfs.append(excel_file_concat)
            
        dfs = pd.concat(dfs, axis=0)
            
            
    # if needed, aggregate the sheets (only if an aggregation column and function is given.)
    if aggby and aggfunc:
        return dfs.groupby(aggby).agg(aggfunc)
    
    # if not, just return the concatenated data.
    else:
        return dfs

In [13]:
# get the average "Amount" per line
combine_pivot(file="data\\workerdata.xlsx", aggby=["Line #"], aggfunc={"Amount":np.mean})

           Amount
Line #
1       17.937500
2       17.846154
3       18.133333
4       18.055556

In [12]:
# get the average "Amount" per line
combine_pivot(folder="data", aggby=["Line #"], aggfunc={"Amount":np.mean})

           Amount
Line #
1       17.956522
2       17.878049
3       18.090909
4       18.074074